<div class="content">
    <div class="main-content">
        <% for(let i in groups){ %>
            <div>
                <a href="/home/admin/show_group?id=<%=groups[i].id%>">
                    <%=groups[i].name%> <%=groups[i].description ? groups[i].description.slice(15)+"..." : "Pas de description"%>
                </a>
            </div>
        <% } %>
    </div>
</div>
