<!DOCTYPE html>

<html>

<head>
	
	<title>MyECL</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS non custom : Bootstrap et Kingadmin-->

	<link href="/kingadmin/theme/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/kingadmin/theme/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/kingadmin/theme/assets/css/main.css" rel="stylesheet" type="text/css">

	<!-- CSS custom -->

	<link href="/styles_perso.css" rel="stylesheet" type="text/css">

	<link href="/login.css" rel="stylesheet" type="text/css">

</head>

<body>

	<div class="container">

		<div class="row">

			<div id="connexion" class="col-xs-4 col-xs-offset-4">

				<div id="connexion-header">

					MyECL

				</div>

				<div>
                    <center>
                    Erreur 404</br>
                    La page demandé n'existe pas.
                    </center>
				</div>

			</div>

		</div>

	</div>
</body>

</html>
