#connexion{
	margin-top : 100px;
	padding : 0;
	border : solid;
	border-color : #a00034;
	border-width: 1px;
	background-color : white;
}

#connexion-header{
	background-color : #a00034;
	color : white;
	font-family: Tahoma;
	font-size: 200%;
	text-align : center;
}

#password_box{
	padding : 15px;
	text-align : justify;
}

legend{
	text-align : center;
}

#inscription{
	margin-bottom: 15px;
}

#info-message{
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    text-align : center;
    background-color : #a00034;
    visibility : hidden;
    color : white;
	font-family: Tahoma; /* à importer */
	font-size : 18;
}
