#connexion{
	margin-top : 100px;
	padding : 0;
	border : solid;
	border-color : rgb(47, 134, 193);
	border-width: 1px;
	background-color : white;
}

#connexion-header{
	background-color : rgb(47, 134, 193);
	color : white;
	font-family: Tahoma;
	font-size: 200%;
	text-align : center;
}

#wrongpass{
	padding : 15px;
	text-align : justify;
}

legend{
	text-align : center;
}

#inscription{
	margin-bottom: 15px;
}