 #draggablePanelList .panel-heading {
    cursor: move;
}

/* Ancienne définition d'une tuile */

.tuile {
	margin-bottom : 15px; /* Pour espacer 2 lignes de tuiles */
	border: solid;
	border-color : lightgray;
	border-width: 1px;
	background-color : white;
}

.tuile-header {
	border-bottom : solid;
	border-bottom-color : lightgray;
	border-bottom-width : 1px;
	background-color : #eeeeee;
	padding-right : 5px;
	padding-left : 5px;
	text-align : center;
	font-size : 110%;
	color: #555;
}

.boutons-droite {
	right : 100%;
	display : inline-block;
	float: right;
}

.boutons-droite a{
	color : #555
}

.tuile-body{
	text-align : center;
}

/* Nouvelle def */

.panel-box{
	padding-top : 33.33%;
	position : relative;
}

.panel{
	margin : 0;
	position : absolute;
	top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
}

.panel-heading{
	height : 40px;
	text-align: center;
}

.panel-body{
	position : absolute;
	top : 40px; /* height de panel-heading */
	left : 0;
	bottom : 0;
	right : 0;
}

#lorem{
	max-height: 100%
}

/* Pour le caroussel de la démo */

.item img {
	height: 100%;
}
