/* Calendar */

table.calendar th, table.calendar td {
    border: 1px solid #ddd;
    text-align: center;
}

table.calendar th {
    background-color: #ccc;
}

table.calendar {
    font-size: 1.2rem;
}

td.calendar-disabled {
    opacity: 0.3;
}

table.calendar tbody tr:hover {
    cursor: pointer;
}

table.calendar tr:hover td.calendar-enabled {
    background-color: darkolivegreen;
    color: white;
}

table.calendar tr:hover td.calendar-disabled {
    background-color: darkolivegreen;
    color: white;
}

table.calendar td.calendar-focus {
    background-color: gold;
}

table.calendar td.calendar-today {
    background-color: goldenrod;
}

table.calendar td.calendar-sunday {
    background-color: firebrick;
    color: white;
}

#previous-month {
    font-size: 4rem;
    padding-top: 4rem;
}

#next-month {
    font-size: 4rem;
    padding-top: 4rem;
}

#previous-month:hover span, #next-month:hover span {
    background-color: #555555;
    color: #f1f1f1;
}

/* Schedule */

table.schedule th, table.schedule td {
    border: 1px solid #ddd;
    text-align: center;
}

table.schedule th {
    background-color: #ccc;
}

table.schedule {
    font-size: 1.6rem;
}

table.schedule {
    font-size: 15px;
    width: 100%;
}

table.schedule .empty-period {
    min-height: 3rem;
    color: #f1f1f1;
    display: flex;
}

table.schedule .empty-period:hover {
    background-color: darkolivegreen;
    color: white;
}

table.schedule .reservation {
    min-height: 3rem;
    background-color: #ccc;
    display: flex;
}

table.schedule .reservation:hover {
    background-color: royalblue;
    color: white;
}

table.schedule .center{
    margin: auto;
}

/* Reservation body */

#left-side {
    padding-left: 0%;
    padding-right: 0%;
}

table.reservation {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

table.reservation td, table.reservation th {
    border: 1px solid #ccc;
    text-align: center;
    height: 18px;
}

table.reservation td {
    background-color: #f1f1f1;
}

table.reservation .hour {
    width: 8%;
}

#reservation-elements {
    position: absolute;
    left: 12.2%;
    top: 0%;
    width: 82.8%;
    color: white;
}

#reservation-elements div {
    position: absolute;
    width: 100%;
    border-radius: 3px;
}

#reservation-elements div.reservation {
    background-color: royalblue;
    display: flex;
}

#reservation-elements span {
    margin: auto;
}

#reservation-elements #new-reservation {
    background-color: darkolivegreen;
    display: flex;
}

#error-message {
    color: firebrick;
    font-weight: bold;
}
