ul.main-menu .sub-menu li a{
	padding : 5px 0 5px 33%;
}

.top-bar{
	background-color: #a00034;
}


/* Titre */

#title{
	font-family: Tahoma; /* à importer */
	font-size : 170%;
	margin-left: 20px;
}

#title a{
	color : white;
}

#title a:hover{
	text-decoration: none;
}

.top-bar-right .icone{
	display: inline-block;
	font-size: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.top-bar-right .icone .fa{
	color : white;
}

.top-bar-right #user{
	font-size : 150%;
}


/* Définition de la classe tuile */


.tile {
	margin-bottom : 15px; /* Pour espacer 2 lignes de tuiles */
	border: solid;
	border-color : lightgray;
	border-width: 1px;
	overflow : hidden;
}

.tile-header {
	border-bottom : solid;
	border-bottom-color : lightgray;
	border-bottom-width : 1px;
	background-color : #eeeeee;
	padding-right : 5px;
	padding-left : 5px;
	text-align : center;
	font-size : 110%;
	color: #555;
}

.boutons-droite {
	right : 100%;
	display : inline-block;
	float: right;
}

.boutons-droite a{
	color : #555
}

.tile-body{
	text-align : center;
}


/* Pour le caroussel de la démo */

.item img {
	height: 100%;
}